<table class = "table">
  <tr>
    <th>Name</th>
    <th>Adress</th> 
  </tr>
  <% @schools.each do |school| %>
    <tr>
      <td><%= link_to school.name, new_school_class_request_path(school), data: { confirm: 'Are you sure?' }  %></td>
      <td><%= school.adress %></td>
    </tr>
  <% end %>
</table>
