<table class = "table">
  <tr>
    <th>Name</th>
    <th>Adress</th> 
  </tr>
  <% @schools.each do |school| %>
    <tr>
      <td><%= link_to school.name, school%></td>
      <td><%= school.adress%></td>
    </tr>
  <% end %>
</table>

<div class="btn btn-outline-dark">
   <%=link_to 'Add school', new_school_path, class: 'btn'%>
</div>

