<h1><%= @school.name %></h1>

<%= link_to 'Teachers', school_teachers_path(@school) %>
<%= link_to 'Edit', edit_school_path %>
<%= link_to 'Delete', school_path, method: :delete, data: { confirm: 'Are you sure?' }  %>